<nav class="navbar navbar-expand-md navbar-expand-lg" data-bs-theme="dark">
  <div class="container">
    <a class="navbar-brand fw-semibold" href="#">Portfólio</a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNav" class="collapse navbar-collapse justify-content-end">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#sobre">Sobre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#habilidades">Habilidades</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#portfolio">Portfólio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contato">Contato</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<section id="banner" class="app-background-secundario">
  <div class="container my-auto">
    <div class="row align-items-center g-3 px-lg-3">
      <div class="col-lg-6 order-1 order-lg-0">
        <div class="textContent">
          <p class="text-white display-5 mb-1">Olá, eu sou <strong>Estevão Santos</strong>!</p>
          <span class="display-3 fw-bold app-banner-text">Desenvolvedor Web</span>
        </div>

        <div class="d-flex flex-wrap align-items-center gap-3 mt-5">
          <a
            class="btn btn-lg app-btn-principal px-5 fs-4 fw-semibold"
            style="width: 400px"
            href="#contato"
            >Contate-me!</a
          >

          <div class="d-flex justify-content-center">
            <a target="_blank" href="https://github.com/tiagosantini">
              <img alt="Github logo" src="github.png" />
            </a>

            <a target="_blank" href="https://linkedin.com/in/tiagosantini">
              <img alt="Linkedin logo" src="linkedin.png" />
            </a>
          </div>
        </div>
      </div>

      <div class="col-auto mx-auto pt-2 order-0 order-lg-1 app-bg-foto">
        <img class="img-fluid mt-4 rounded-circle" src="estevao.png" alt="Foto Tiago Santini" />
      </div>
    </div>
  </div>
</section>

<section id="sobre" class="container">
  <div class="d-flex flex-column fs-5 my-auto">
    <h2 class="display-5 fw-bold text-center">Sobre Mim</h2>

    <p class="mt-5">
      Olá! Meu nome é <strong>Estevão Santos</strong>, sou estudante de
      <strong>Sistemas de Informação</strong> na Uniplac e apaixonado por tecnologia desde cedo.
      Atualmente, participo da <strong>Academia do Programador</strong>, uma formação intensiva
      focada em tecnologias da stack Microsoft e desenvolvimento prático.
    </p>

    <p>
      Tenho formação técnica em <strong>Informática para Internet</strong> pelo IFSC, onde aprendi
      sobre <strong>HTML, CSS, JavaScript, PHP, MySQL, React, React Native, Figma</strong> e
      metodologias como <strong>Scrum</strong>. Durante o curso, também tive disciplinas voltadas
      para segurança da informação, comunicação, testes de software e banco de dados.
    </p>

    <p>
      Possuo <strong>+9 meses de experiência profissional</strong> na área de tecnologia. Atuei por
      6 meses como <strong>aprendiz de suporte na JBS Seara Alimentos</strong>, onde realizei
      manutenção de computadores, impressoras (convencionais e de etiqueta), instalação de câmeras e
      atendimento a chamados dos colaboradores.
    </p>

    <p>
      Atualmente, sou
      <strong>estagiário em Suporte de Desenvolvimento Web na UEEK Soluções Digitais</strong>, onde
      atuo há 3 meses. No meu trabalho, utilizo <strong>Laravel</strong> no backend e
      <strong>Next.js</strong> no frontend, prestando suporte aos clientes. Participo tanto da
      <strong>comunicação com clientes</strong> quanto da
      <strong>manutenção e desenvolvimento de sites</strong>, incluindo tarefas como alterações no
      design, implementação e correção de envio de e-mails, upload de arquivos via FTP e criação de
      novas páginas — inclusive para instituições como universidades.
    </p>
  </div>
</section>

<section
  id="habilidades"
  class="app-background-secundario d-flex justify-content-center align-items-center"
>
  <div class="container my-5">
    <h2 class="display-5 fw-bold text-center">Minhas habilidades</h2>

    <div class="row row-cols-1 row-cols-lg-2 g-5 mt-5 mx-2">
      @for (item of itensHabilidades; track $index) {
        <div class="d-flex align-items-center gap-4">
          <span>
            <i class="bi {{ item.icone }} fs-1"></i>
          </span>

          <div class="d-flex flex-column">
            <label class="fs-4 fw-semibold">{{ item.titulo }}</label>

            <small class="fs-5">{{ item.descricao }}</small>
          </div>
        </div>
      }
    </div>
  </div>
</section>

<section id="habilidades" class="container my-5">
  <div class="d-flex flex-column my-auto">
    <h2 class="display-5 fw-bold text-center">Habilidades Técnicas</h2>

    <p class="fs-5 mt-5 ps-3">
      Aqui, você poderá conhecer as principais habilidades que desenvolvi ao longo da minha jornada
      como desenvolvedor. Abaixo apresento as ferramentas, frameworks e tecnologias que utilizo.
    </p>

    <div class="d-flex flex-wrap justify-content-center align-items-center gap-3 mt-5">
      @for (itemHabilidade of itensHabilidades2; track $index) {
        <div class="d-flex flex-column align-items-center gap-2">
          <img width="75" [src]="itemHabilidade.icone" [alt]="itemHabilidade.titulo" />
          <span>{{ itemHabilidade.titulo }}</span>
        </div>
      }
    </div>
  </div>
</section>
